<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.mcgill.ecse321.petshelter.dao.UserDao">

    <resultMap id="BaseResultMap" type="ca.mcgill.ecse321.petshelter.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <collection property="posts" ofType="ca.mcgill.ecse321.petshelter.entity.Post" javaType="list">
            <id property="postId" column="post_id"/>
        </collection>
        <collection property="applications" ofType="ca.mcgill.ecse321.petshelter.entity.Application" javaType="list">
            <id property="applicationId" column="application_id"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        select * from users
            left join posts on user_id = post_by_id
            left join applications on user_id = application_applicant_id
    </select>
    <select id="findById" parameterType="Integer" resultMap="BaseResultMap">
        select * from users
            left join posts on user_id = post_by_id
            left join applications on user_id = application_applicant_id
            where user_id = #{id}
    </select>
    <select id="findByUsername" parameterType="String" resultMap="BaseResultMap">
        select * from users
            left join posts on user_id = post_by_id
            left join applications on user_id = application_applicant_id
            where userName = #{username}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id"
            parameterType="ca.mcgill.ecse321.petshelter.entity.User">
        insert into users (userName, password, email) values (#{username}, #{password}, #{email})
    </insert>

    <update id="update" parameterType="ca.mcgill.ecse321.petshelter.entity.User">
        update users
        set username = #{username}, password = #{password}, email = #{email}
        where user_id = #{userId}
    </update>
</mapper>